/* ---------- Main ---------- */

.aui-state-default {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
}

.aui-state-hover {
	background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
}

.aui-state-active {
	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

.results-header {
	background: #D1D6DC;
}

.results-header th, .results-header td {
	color: #7B7C7F;
	padding: 5px 10px;
}

.results-header .sort-column .result-column-name {
	background: url(../images/arrows/05_up.png) no-repeat 100% 50%;
	display: inline-block;
	font-style: italic;
	padding-right: 15px;
}

.results-header .sort-desc .result-column-name {
	background-image: url(../images/arrows/05_down.png);
}

.results-row td {
	background: none;
	padding: 5px 10px;
}

.results-row.alt td {
	background: #DDE1E6;
}

.results-row.hover td {
	background: #BCC3CC;
}

/* ---------- Dragging/sorting indicators ---------- */

.portlet-layout.dragging {
	border-collapse: separate;
}

.drop-area {
	background-color: #D3DADD;
}

.active-area {
	background: #FFC;
}

.portlet-boundary.aui-dd-dragging {
	opacity: .6;
}

.ie .portlet-boundary.aui-dd-dragging {
	-ms-filter: alpha(opacity=60);
	filter: alpha(opacity=60);
}

.portlet-boundary.aui-dd-dragging .portlet {
	border: 2px dashed #ccc;
}

.aui-portal-layout-proxy {
	opacity: 1 !important;
}

.aui-portal-layout-proxy .portlet-topper {
	background-image: none;
}

.aui-proxy {
	cursor: move;
	opacity: 0.65;
	position: absolute;
}

.ie .aui-proxy {
	filter: alpha(opacity=65);
}

.aui-proxy.generic-portlet {
	height: 200px;
	width: 300px;
}

.aui-proxy.generic-portlet .portlet-title {
	padding: 10px;
}

.aui-proxy.not-intersecting .forbidden-action {
	background: url(../images/application/forbidden_action.png) no-repeat;
	display: block;
	height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 32px;
}

.ie .aui-proxy.not-intersecting .forbidden-action {
	right: 2px;
	top: 2px;
}

.aui-resizable-proxy {
	border: 1px dashed #828F95;
	position: absolute;
	visibility: hidden;
}

.aui-sortable-proxy {
	background: #727C81;
	margin-top: 1px;
}

.lfr-freeform-layout-drag-indicator {
	visibility: hidden;
}

.aui-portal-layout-drag-target-indicator  {
	margin: 2px 0;
}

/* ---------- Portal tool tips ---------- */

.aui-tooltip {
	max-width: 200px;
}

/* ---------- Tags ---------- */

.aui-tagselector-content {
	border-width: 0;
	margin-bottom: 15px;
	padding: 0;
}

.aui-tagselector-content .aui-textboxlistentry-holder {
	background: #fff;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	margin-bottom: 5px;
	padding: 5px;
	position: relative;
	overflow: visible;
}

.aui-tagselector .lfr-tag-selector-input {
	background: none;
	padding: 0;
	width: auto;
}

.aui-tagselector-focused .aui-textboxlistentry-holder {
	background: #FFC none;
	border: 1px solid #FC0;
}

.aui-tagselector .aui-field .aui-field-content {
	margin: 0;
}

.aui-tagselector .aui-toolbar {
	margin-top: 5px;
}

.aui-tagselector .aui-textboxlist-input-container {
	margin: 0;
}

.aui-categoriesselector-content .aui-textboxlistentry-holder {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

/* ---------- Tag cloud and tag list ---------- */

.tag-cloud, .tag-list {
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0 1em 0.5em 1em;
	white-space: normal;
}

.tag-cloud {
	line-height: 2.5em;
}

.tag-cloud li, .tag-list li {
	display: inline;
	float: left;
	margin: 0 1em 0 0;
}

.tag-cloud a, .tag-list a {
	white-space: nowrap;
}

.tag-cloud .tag-asset-count {
	clip: rect(0 0 0 0);
	position: absolute;
}

.tag-cloud .tag-popularity-1 {
	font-size: 1em;
}

.tag-cloud .tag-popularity-2 {
	font-size: 1.3em;
}

.tag-cloud .tag-popularity-3 {
	font-size: 1.6em;
}

.tag-cloud .tag-popularity-4 {
	font-size: 1.9em;
}

.tag-cloud .tag-popularity-5 {
	font-size: 2.2em;
}

.tag-cloud .tag-popularity-6 {
	font-size: 2.5em;
}

/* ---------- Underlay ---------- */

.aui-underlay {
	clear: both;
	top: 100%;
}

.aui-underlay-hidden {
	display: none;
}

.aui-underlay-content {
	background: #F4F3F3 url(../images/common/message_panel_shadow.png) repeat-x 0 0;
	border: 0 solid #AEAFB1;
	border-width: 0 1px 1px;
}

.aui-underlay .aui-widget-hd {
	height: 38px;
}

.aui-underlay-close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.aui-underlay .lfr-portlet-item {
	border-width: 0;
}

/* ---------- Tabs ---------- */

.aui-tabview-list {
	border: 1px solid #C8C9CA;
	padding: 4px;
}

.ie7 .aui-tabview-list {
	overflow: hidden;
}

.aui-tab {
	background: transparent;
	border-width: 0;
	font-weight: bold;
}

.aui-tab-content {
	padding: 3px 10px;
}

.aui-tab-active {
	background: #333;
	padding: 0;
	position: relative;
	z-index: 10;
}

.aui-tab-active, .aui-tab-active a {
	color: #FFF;
	text-decoration: none;
	text-shadow: -1px -1px #000;
}

.aui-tabview-list .toggle {
	float: right;
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background: transparent;
}

.lfr-panel-container {
	background: #FFF;
}

.aui-dialog-bd {
	min-height: 30px;
}

.aui-dialog-content {
	border: 1px solid #C8C9CA;
	padding: 5px;
}

.aui-panel-hd {
	background: #C0C2C5 url(../images/application/panel_header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #AEB2B8 #AEB2B8 #C8C9CA;
	padding-left: 10px;
	text-shadow: 1px 1px #FFF;
}

/* ---------- Menus ---------- */

.lfr-actions.portlet-options .lfr-trigger strong span, .visible.portlet-options .lfr-trigger strong span {
	background-image: url(../images/portlet/options.png);
}

.lfr-actions.portlet-options:hover, .lfr-actions.portlet-options:hover ul {
	background: transparent;
}

.lfr-menu-list {
	z-index: 450;
}

.aui-menu .notice-message {
	background-image: none;
	margin: 3px;
	padding: 6px;
}

.aui-menu {
	position: absolute;
	width: auto;
}

.aui-menu-content {
	background: #FFF;
	list-style: none;
	min-width: 150px;
}

.aui-menu-content li {
	margin: 0;
	padding: 0;
}

.aui-menu-content, .lfr-menu-list ul {
	background: #CCC9C9 url(../images/application/menu_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #AEAFB1 #777879 #777879 #AEAFB1;
	padding: 2px 0;
}

.aui-menugroup-content .aui-menu-label {
	background: #D2D6DE;
	color: #5B677D;
	display: block;
	font-weight: bold;
	padding: 5px 3px;
	text-shadow: 1px 1px #FFF;
}

.aui-menugroup-content ul, .lfr-menu-list ul ul {
	display: block;
	min-width: 0;
}

.aui-menu-content li, .lfr-menu-list ul li {
	border-bottom: 1px solid #BCBBBB;
	border-top: 1px solid #EEE;
	display: block;
	margin: 0;
	padding: 0;
}

.ie7 .aui-menu-content li {
	z-index: 10;
}

.aui-menu-content li.first, .lfr-menu-list ul li.first {
	border-top-width: 0;
}

.aui-menu-content li.last, .lfr-menu-list ul li.last {
	border-bottom-width: 0;
}

.aui-menu-content li a, .lfr-menu-list ul li a {
	color: #2C2F34;
	display: block;
	padding: 4px 5px;
	text-decoration: none;
}

.aui-menu-content li a.aui-focus, .lfr-menu-list ul a.aui-focus, .lfr-menu-expanded li a:focus  {
	background-color: #5B677D;
	color: #FFF;
	text-shadow: -1px -1px #2C2F34;
}

.aui-menu-content a, .lfr-menu-list li a, .lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
}

/* ---------- Toolbar ---------- */

.aui-toolbar li {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	vertical-align: middle;
}

.ie6 .aui-toolbar li, .ie7 .aui-toolbar li {
	display: inline;
}

.aui-toolbar-separator {
	background: url(../images/dockbar/separator.png) no-repeat 100% 50%;
	border-width: 0;
	cursor: default;
	font-size: 1px;
	height: 16px;
	margin: 0 2px;
	overflow: hidden;
	vertical-align: middle;
	width: 4px;
}

/* ---------- Loading Mask ---------- */

.aui-loadingmask-content {
	background: #CCC;
}

.aui-loadingmask-message {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
}

/* ---------- Tree View ---------- */

.aui-tree-node-selected .aui-tree-label {
	background-color: transparent;
	font-weight: bold;
}